<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Edit</title>
    </head>
    <body>
    <form action="#" th:action="@{/createBook}" th:object="${bookForm}" method="post">
        <input type="hidden" th:field="*{id}" />

        <table border="1">
            <tr>
                <td><label>Title</label></td>
                <td><input type="text" th:field="*{title}"/></td>
            </tr>
            <tr>
                <td><label>Author</label></td>
                <td><input type="text" th:field="*{author}"/></td>
            </tr>
            <tr>
                <td><label>Editor</label></td>
                <td><input type="text" th:field="*{editor}"/></td>
            </tr>
            <tr>
                <td><label>Publication Year</label></td>
                <td><input type="number" min="0" max="2099" th:field="*{publicationYear}"/></td>
            </tr>
            <tr>
                <td><label>Genre</label></td>
                <td><input type="text" th:field="*{genre}"/></td>
            </tr>
            <tr>
                <td><label>Pages number</label></td>
                <td><input type="number" th:field="*{nb_pages}"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="save" /></td>
            </tr>
        </table>
        <input type="hidden" th:field="*{nb_copies}" />
    </form>
    </body>
</html>