<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Client Edit</title>
    </head>
    <body>
        <form action="#" th:action="@{/createClient}" th:object="${clientForm}" method="post">
            <input type="hidden" th:field="*{id}" />
            <table border="1">
                <tr>
                    <td><label>First name</label></td>
                    <td><input type="text" th:field="*{firstName}"/></td>
                </tr>
                <tr>
                    <td><label>Last name</label></td>
                    <td><input type="text" th:field="*{lastName}"/></td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input type="text" th:field="*{address}"/></td>
                </tr>
                <tr>
                    <td><label>eMail</label></td>
                    <td><input type="text" th:field="*{eMail}"/></td>
                </tr>
                <tr>
                    <td><label>Postal Code</label></td>
                    <td><input type="text" th:field="*{postalCode}"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="save" /></td>
                </tr>
            </table>
        </form>
    </body>
</html>