<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="${pageTitle}">Title</title>
    </head>
    <body>
        <h1>Index</h1>
        <a th:href="@{'/listBooks'}">Liste des livres</a>
        <a th:href="@{'/listClients'}">Liste des Clients</a>
        <a th:href="@{'/createClient'}">Creer un nouveau client</a>
        <a th:href="@{'/createBook'}">Creer un nouveau Livre</a>
        <a th:href="@{'/loanBook'}">Emprunter un livre</a>
        <a th:href="@{'/returnBook'}">Retourner un livre</a>

    </body>
</html>